section{
    background: url('../assets/download1.jpeg') no-repeat;
    /* overflow-y: scroll; This is to switched on when making it a responsive website */
    background-size: cover;
    color: #003333;
}
.formContainer{
    background: rgba( 255, 255, 255, 0.4 );
    border-radius: 25px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
h3{
    color: #009933;
}
#typeEmailX, #typePasswordX{
    border-radius: 25px;
}
.warning{
    font-style: italic;
}
.login{
    border-radius: 25px;
    box-shadow: 0 8px 32px 0 rgba( 122, 122, 99, 0.37 );
    background-color: #003333;
    color: #b0e892;
}
#registration{
    color: #003333;
}