*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
hr{
    margin: 10px 0;
}

.flexWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.overviewComponentContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.budgetComponentContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.headingWithButton{
    display: flex; 
    gap: 10px; 
    align-items: center;
    justify-content: space-between;
}
.headingWithButton>span{
    font-size: 30px;
}
.iconWrapper{
    display: flex;
    gap: 10px;
}
.iconWrapper>span{
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 30px;
}
.iconWrapper>span:hover{
    cursor: pointer;
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.12 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.material-symbols-outlined:hover{
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .overviewComponentContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .budgetComponentContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* This styles the logout dialog box */
#modal-content-wrapper {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
#modal-title {
    font-size: 20px;
}
#modal-footer {
    justify-self: right;
    align-self: end;
}
#modal-footer>button{
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 10px 20px;
}
form{
    width: 100%;
}
#modal-add-item-button {
    margin-right: 30px;
    background-color: var(--light-green);
}
#modal-update-item-button {
    margin-right: 30px;
    background-color: var(--dark-orange);
}
#modal-delete-item-button {
    margin-right: 30px;
    background-color: var(--light-warn);
}
#modal-cancel-button {
    background-color: var(--faded-green);
}
.inputFields>input,select,option{
    border-radius: 25px;
    padding: 0 10px;
}
.inputFields{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
