
<body @fade>
    <h3>Overview</h3>
    <div class="overviewComponentContainer">
        <overview-card [heading]="'Total Budget'" [data]="totalBudget"/>
        <overview-card [heading]="'Remaining Budget'" [data]="totalRemainingBudget"/>
        <overview-card [heading]="'Used Budget'" [data]="(totalBudget-totalRemainingBudget)"/>
    </div>
    <hr>
    <div class="headingWithButton">
        <h3>Budgets</h3>
        <div class="iconWrapper">
            <span class="material-symbols-outlined" matTooltip="Edit existing budget" (click)="updateItemDialog()" >edit</span>
            <span class="material-symbols-outlined" matTooltip="Delete existing budget" (click)="deleteItemDialog()" >delete</span>
            <span class="material-symbols-outlined" matTooltip="Create new budget" (click)="addItemDialog()">add_circle</span>
        </div>
    </div>
    <div class="budgetComponentContainer">
        <budget-card 
        #budgetCard 
        [id]="budget.category"
        *ngFor="let budget of combinedDataItems"
        [heading]="budget.category" 
        [amountSpent]="budget.used_budget"
        [amountAllocated]="budget.amount.toFixed(2)" 
        [startDate]="budget.startDate"
        [endDate]="budget.endDate"
        [percentageSpent]="budget.percentage_spent"
        />
    </div>
</body>
