@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
ag-charts {
    display: block;
    font-family: "Montserrat", sans-serif;
}
body{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.overviewComponentContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.12 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 25px;
    padding: 20px 0;
}
.chart {
    font-family: "Montserrat", sans-serif;
    width: 49%;
    height: 400px;
    min-width: 600px;
    background: transparent;
}
.budgetComponentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 25px;
}
.headingWithButton{
    display: flex; 
    gap: 10px; 
    align-items: center;
    justify-content: space-between;
}
.headingWithButton>span{
    font-size: 30px;
}
.material-symbols-outlined:hover{
    cursor: pointer;
}
.tableContainer {
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.12 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 25px;
    padding: 20px;
}
table { 
    
    background-color: transparent;
}
mat-row{
    border: none;
}
mat-paginator{
    background-color: transparent;
}

/* This styles the logout dialog box */
#modal-content-wrapper {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
#modal-title {
    font-size: 20px;
}
#modal-footer {
    justify-self: right;
    align-self: end;
}
#modal-footer>button{
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 10px 20px;
}
form{
    width: 100%;
}
#modal-add-item-button {
    margin-right: 30px;
    background-color: var(--light-green);
}
#modal-update-item-button {
    margin-right: 30px;
    background-color: var(--dark-orange);
}
#modal-delete-item-button {
    margin-right: 30px;
    background-color: var(--light-warn);
}
#modal-cancel-button {
    background-color: var(--faded-green);
}
.inputFields>input,select,option{
    border-radius: 25px;
    padding: 0 10px;
}
.inputFields{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
